.bg-tabPostagem{
    background-color: #D88B56 !important;
    color: #5A3A82 !important;
}

.txtTabPostagem{
    font-weight: bold !important;
}

.tituloTabPostagem{
    color: #5A3A82 !important;
    font-weight: bold !important;
}

.postTabHome{
    width: 100%;
}