.titulo {
    color: white !important;
    font-weight: bold !important;
}

.txtSombra{
    text-shadow: 1px 1px 2px #D88B56, 0 0 1em #D88B56, 0 0 0.2em #D88B56;
}

.imgHome {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
    text-align: center;
}

.botaoHome {
    border: none !important;
    background-color: #5A3A82 !important;
    color: white !important;
}

.botaoHome:hover {
    background-color: #312046 !important;
    border: none !important;
}

.caixa {
    background-color: #D88B56;
    width: 100vh;
    min-height: 100vh;
}

.background {
    background-image: url(../../assets/bg_theater.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.postagensHome {
    background-color: white;
}

.fonteHome{
    color: #FFFFFF80;
    font-size: 12px !important;
}

.text-decorator-none{
    text-decoration: none;
}