.titulo{
    color: white !important;
    font-weight: bold !important;
}

.img-grid {
    height: 495px;
    display: flex;
    align-items: center;
}

.botaoHome{
    /* border-color: #5A3A82 !important; */
    background-color: #5A3A82 !important;
    color: white !important;
}

.botaoHome:hover{
    background-color: #312046 !important;
    /* border-color: #312046 !important; */
}

.caixa{
    background-color: #D88B56;
}

.postagens{
    background-color: white;
}