.titulo{
    color: red;
    text-align: center;
    margin-bottom: 60px;
}

.img-grid {
    height: 495px;
    display: flex;
    align-items: center;
}

.buttonHome:hover{
    background-color: #312046 !important;
    border-color: #312046 !important;
}