.box1{
    background-color: #D88B56;
    height: 120px;
}

.box2{
    background-color: #5A3A82;
    height: 60px;
}

.redes{
    font-size: 50px !important;
    color: white;
    margin-inline: 5px;
}

.github{
    font-size: 40px !important;
}

.textos{
    color: white;
}